.root-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    max-height: 100%;
}

.main-container {
    flex-direction: column;
    flex-grow: 1;
    display: flex;
    align-content: center;
    max-width: 100%;
    max-height: 100%;
}

.left-nav-bar {
    flex-grow: 0;
    display: flex;
    width: var(--fib-10);
}

.right-nav-bar {
    flex-grow: 0;
    width: var(--fib-10);
}
